.form {
  width: 100%;

  & + .alert {
    margin-top: 8px;
  }
}

.field {
  resize: none !important;
  line-break: anywhere;
}

.alert {
  & + .alert {
    margin-top: 24px;
  }

  &:last-of-type {
    margin-bottom: 16px;
  }

  &.redirect {
    width: 100%;

    & :global(.ant-alert-description) {
      display: flex;
      align-items: center;

      & > svg {
        margin-left: 8px;
      }
    }
  }
}

.checkbox {
  width: 285px;
  margin-left: 0 !important;
  user-select: none;

  &:first-of-type {
    margin-top: 24px;
  }
}
