.form {
  width: 100%;

  & + .alert {
    margin-top: 8px;
  }
}

.field {
  resize: none !important;
  line-break: anywhere;
}

.alert {
  &:global {
    animation: appear 200ms ease-in-out 1;
    animation-fill-mode: forwards;
  }

  & + .alert {
    margin-top: 24px;
  }

  &:last-of-type {
    margin-bottom: 16px;
  }
}
