.form {
  width: 100%;

  & + .alert {
    margin-top: 8px;
  }
}

.field {
  resize: none !important;
  line-break: anywhere;
}

.alert {
  &:global {
    animation: appear 200ms ease-in-out 1;
    animation-fill-mode: forwards;
  }

  & + .alert {
    margin-top: 24px;
  }

  &:last-of-type {
    margin-bottom: 16px;
  }
}

.checkbox {
  width: 285px;
  margin-left: 0 !important;
  user-select: none;

  &:global {
    animation: appear 200ms ease-in-out 1;
    animation-fill-mode: forwards;
  }

  &:first-of-type {
    margin-top: 24px;
  }
}

.example {
  width: 280px;
}

.remove {
  margin-top: 36px;
}
