.layout {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  & > main {
    width: 100%;
    max-width: 500px;
    padding: 0 20px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;

    /* &:global {
      animation: appear 200ms ease-in-out 1;
      animation-fill-mode: forwards;
    } */
  }
}
