.container {
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  & label {
    display: inline-block;
    color: var(--black);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51 51 51 / 0.5);
  z-index: 1000;
  will-change: opacity;
  transition: opacity 50ms ease-out;

  &:global {
    animation: appear 50ms ease-out;
  }
}

.value {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 20px;
  background-color: var(--white);
  border: solid 1px var(--grey-light);
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  z-index: 1001;
  cursor: pointer;
  user-select: none;

  & .valueDisplay {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & > svg {
    width: 18px;
    height: 18px;
  }

  &.disabled {
    cursor: default;
    color: var(--grey);
  }
}

@keyframes dropdown-appear-bottom {
  from {
    transform: translate3d(0, 6px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes dropdown-appear-top {
  from {
    transform: translate3d(0, -6px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.dropdown {
  width: 100%;
  position: absolute;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  z-index: 1001;
  transition: opacity 150ms linear;
  animation-duration: 150ms;
  animation-timing-function: linear;
}

.option {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  transition: background-color 100ms;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--grey-background);
  }

  &.disabled {
    color: var(--grey);
    cursor: default;

    &:hover {
      background-color: var(--white);
    }
  }

  & .extra {
    font-size: 12px;
  }
}

.footer {
  border-top: 1px solid var(--grey-light);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
