.field {
  & + .field {
    margin-top: 20px;
  }
}

.success {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  &:global {
    animation: appear 300ms;
  }

  & > label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  & svg {
    margin-right: 8px;
  }

  & pre {
    display: inline;
  }
}
