name: deploy

on:
  push:
    branches:
      - master
  workflow_call:
  workflow_dispatch:

jobs:
  prepare:
    uses: ./.github/workflows/checkup.yml

  deploy:
    name: Deploy bots to AWS EC2
    needs: prepare
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_TEAM }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build code
        run: yarn build

      - name: Install Vercel CLI
        run: yarn global add vercel@latest

      - name: Pull Vercel environment variables
        run: vercel pull --token=${{ secrets.VERCEL_TOKEN }} --environment=production
      
      - name: Build project
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      
      - name: Deploy project to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy @cryptoalertsbot
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_BOTS_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.EC2_BOTS_PUBLIC_DNS }}
          REMOTE_USER: ${{ secrets.EC2_BOTS_USERNAME }}
          TARGET: ${{ secrets.EC2_BOTS_TARGET_DIR_ALERTS }}
          SOURCE: repos/apps/alerts-bot/out/

      - name: Deploy @cryptopositionsbot
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_BOTS_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.EC2_BOTS_PUBLIC_DNS }}
          REMOTE_USER: ${{ secrets.EC2_BOTS_USERNAME }}
          TARGET: ${{ secrets.EC2_BOTS_TARGET_DIR_POSITIONS }}
          SOURCE: repos/apps/positions-bot/out/

      - name: Deploy server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SERVER_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.EC2_SERVER_PUBLIC_DNS }}
          REMOTE_USER: ${{ secrets.EC2_SERVER_USERNAME }}
          TARGET: ${{ secrets.EC2_SERVER_TARGET_DIR }}
          SOURCE: repos/apps/server/out/