name: release

on:
  workflow_dispatch:

jobs:
  prepare:
    uses: ./.github/workflows/checkup.yml

  release:
    name: release
    needs: prepare
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Release
        run: yarn release
        
